{% for entry in tree %}

{{ entry.version }}{% if entry.date %} ({{ entry.date }}){% endif %}

{% for change_key, changes in entry.changes.items() %}
{% if not (change_key | lower) in ["chore", "docs", "style", "refactor", "perf", "test", "build", "ci"] %}

{% if change_key == "Feat" %}
Features
{% elif change_key == "Fix" %}
Fixes
{% elif change_key %}
{{ change_key }}
{% endif %}
{% for change in changes %}
- {% if change.scope -%}({{ change.scope }}): {% endif -%} {{ change.message }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
